.divination-article h2 {
    font-size: 1.6rem;
    margin-top: 0;
}

.rune-general-description h3, .rune-forecast h3 {
    text-decoration: underline;
    margin-top: 0;
}

.rune-forecast, .rune-general-description, .rune-details {
    padding: 5px 20px;
    border-radius: 20px;
}

.rune-details {
    background-color: rgb(199, 197, 197);
}

.rune-general-description {
    background-color: #ccc;
    margin-top: 10px;
}

.rune-forecast {
    background-color: rgb(240, 224, 207);
    margin-top: 10px;
}