html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.wrapper {
    width: 80vw;
    margin: auto;
}

header {
    background-color: #eee;
    padding: 1rem;
}

main {
    background-color: rgb(211, 230, 234);;
    padding: 1rem;
}

.main-content {
    padding: 0;
}