{% extends 'layout.html' %}
{% load static %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'runes/css/runes.css' %}">
{% endblock app_styles %}

{% block main_content %}
<section class="main-content">
    <article class="divination-article">
        <h2>{{forecast_type}}</h2>
        <div class="rune-details">
            <p><b>Руна:</b> {{answer.rune.title}}</p>
            <p><b>Положение:</b> {{answer.is_inverted}}</p>
        </div>
        <div class="rune-general-description">
            <h3>Общее описание руны</h3>
            <p>{{answer.rune.description|safe}}</p>
        </div>
        <div class="rune-forecast">
            <h3>Ответ рун</h3>
            <p>{{answer.forecast|safe}}</p>
        </div>
    </article>
</section>
{% endblock main_content %}