{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'runes/css/runes.css' %}">
{% endblock app_styles %}

{% block main_content %}
<section class="main-content">
    <article class="divination_article">
        <h2>{% trans divination.title %}</h2>
        <p class="divination_description">
            {% trans divination.description %}
        </p>
        <div class="question-form">
            <form action="{% url 'runes:forecast_answer' divination_id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="{% trans 'ask' %}">
            </form>
        </div>
    </article>
</section>
{% endblock main_content %}