{% extends 'layout.html' %}
{% load static %}

{% block app_styles %}
    <link rel="stylesheet" href="{% static 'runes/css/runes.css' %}">
{% endblock app_styles %}

{% block main_content %}
<section class="main-content">
    <article class="divination_article">
        <h2>{{divination.title}}</h2>
        <p class="divination_description">
            {{divination.description}}
        </p>
        <p>
            <form action="/divination/answer/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Спросить">
            </form>
        </p>
    </article>
</section>
{% endblock main_content %}